body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  border:0px;
  margin:0px;
}

#frame {
  font-family: "Encode+Sans", Arial, sans-serif;
  background: rgb(248, 250, 255);
  border:none;
  margin: 0;
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgb(58, 67, 72);
  box-shadow: 0px 2px 4px 0px rgba(58, 67, 72, 0.5);
  z-index: 1;
}

.title {
  font-family: "Encode+Sans", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 4px;
  text-align: left;
  color: white;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}
.subtitle {
  padding-bottom: 16px;
  padding-left: 18px;
  color: rgb(255, 255, 255);
}

.content {
  height: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: normal;
}

#metamask-frame {
  height: 100%;
  padding: 2em;
  background-image: linear-gradient(135deg, rgb(46, 189, 196) 0%, rgb(104, 229, 178) 100%);
  /*background-color: rgb(80, 220, 180);*/
}

#dapp {
  padding: 2em;
}

#connectMetaMask {
  margin-top:8em;
  margin-bottom:8em;
  background-color: rgb(255, 255, 255);
  color: rgb(36, 189, 201);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 2px 2px 1px rgba(20, 120, 180, 0.2);
  border:none;
}

#connectMetaMask:hover {
  background-color: rgb(240, 250, 255);
  color: rgb(45, 200, 210);
}

div.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.8em;
  margin-top: 4px;
}

div.label {
  color: rgb(58, 67, 72);
  font-size: 24px;
  font-weight: bold;
}

div.value {
  color: rgb(90, 100, 90);
  width: fit-content;
  font-size: 24px;
  overflow: auto;
  word-wrap: break-word;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 10px;
}

#address {
  padding-top: 8px;
  color: rgb(60, 230, 145);
  font-size: 12px;
}

div.button {
  color: rgb(170, 180, 170);
  border-style: solid;
  border-radius: 30px;
  border-style: solid;
  /*border-color: rgb(36, 189, 201);*/
  border-color: rgb(170, 180, 170);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 16px;
}

div.button:hover {
  color: rgb(58, 67, 72);
  border-color: rgb(60, 230, 145);
}

div.send-currency {
  color: white;
  background-color: rgb(70, 240, 155);
  border: none;
}

div.send-currency:hover {
  color: white;
  background-color: rgb(80, 250, 165);
  border: none;
}


input {
  background-color: rgb(230, 240, 245);
  margin: 1em;
  margin-top: 0;
  padding: 0.5em;
  border: none;
}

input:focus {
  outline-color: rgb(70, 240, 155);
}

footer {
  min-height:60px;
  background-color: rgb(230, 240, 245);
}
